* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero{
    background-image: url("https://images.unsplash.com/photo-1522163182402-834f871fd851?q=80&w=1606&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    clip-path: polygon(49% 0, 100% 0, 100% 88%, 46% 100%, 46% 100%, 0 88%, 0 0);
    position: absolute;
    width: 100%;
}
#navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:monospace;
}
.brand {
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
h3 {
    font-size: 1.4em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5 {
    font-size: .95em;
    margin: 5px;
}

.menu ul li{
    display: inline-block;
    position: relative;
    margin: 0 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 15px;
}
.menu ul li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #004196;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
.menu ul li a:hover::after{
    width: 100%;
}
.content {
    text-align: center;
    top: 50%;
    width: 100%;
    margin: auto;
    position: absolute;
}
.content h2{
    font-size: 3rem;
    padding: 10px;
    color: #000;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}
.content p{
    padding: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 15px 0;
    margin: 35px 10px;
    width: 200px;
    border: 2px solid #009688;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}
